:root {
  --background-color: #fcfcfc;
  --accent-color: #9933ff;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);
}

img {
  display: block;
  width: 100%;
}

a {
  display: inline-block;
}

/* Logo css  */
.navbar-brand {
 

}

.bg-purple {
  background-color: var(--accent-color);
}

.btn {
  margin: 10px;
  border-radius: 80px !important;
}
.btn:hover{
background: white;
  color: #fff;


}

.registerBtn {
  font-weight: 500 !important;
  border: 2px solid !important;
}

/* hero figure css  */
.hero-figure {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-figure .row {
  width: 100%;
}

.hero-figure .row .col-md-6 {
  margin: auto;
}

.hero-figure img {
  max-height: 350px;
}

.startBtn {
  background-color: var(--accent-color) !important;
}

/* footer css  */
footer {
  background: var(--accent-color);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 2rem 1rem 0.1rem 1rem;
  color: white;
}

footer h2 {
  text-align: center;
}

footer p {
  text-align: center;
  display: inline;
}

footer p a {
  text-decoration: none;
  padding: 0.3rem;
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
  transition: all 0.5s;
}

footer p a:hover {
  background: white;
  color: #116dfa;
}

/* media queries */

@media (max-width: 768px) {
  .row {
    flex-direction: column-reverse;
  }
  .img img {
    width: 50%;
    margin: 0 auto;
  }
  .hero-figure .row .col-md-6 {
    text-align: center;
    margin: 2em 0;
  }
}
